div.element{
	width: 100px;
	height: 100px;
	border: solid;
	overflow: hidden;
	float: left;
    background: greenyellow;
    font-size: 75px;
    text-align: center;
    cursor: pointer;
}

div.element:hover{
    background: green;
}


div.container-15{
	position: absolute;
	width: 300px;
	overflow: hidden;
}

.empty div.element{
	background: green !important;
}