<html>
	<head>
		<title>BackBone project</title>
		<meta charset="UTF-8">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
    <body>
        <div class="container">
            <h1>Enjoy your game) </h1>
            <div class="container-15">
                
            </div>
        </div>

        <script id="element-template" type="text/html">
            <div 
                data-row="<%= row %>" 
                data-column="<%= column %>" 
                data-id="<%= value %>" 
                class="element"
            >
                <%= value %>
            </div>
        </script>
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="js/script.js"></script>

    </body>
</html>